<!-- base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  

</head>
<body>
<div class = 'container-fluid'>
    {% include 'header.html'%}
    <div class='row'>
        <div class ='col-sm-4 col-md-4'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>
                        MENU
                    </h3>
                </div>
                <div class ='panel-body'>
                    <div class='list-group'>
                        <a href='/' class='list-group-item'>HOME</a>
                        <a href='http://tar.so/news' class='list-group-item'>Realtime News</a>
                        <a href='http://drho.tw/news' class='list-group-item'>Televised News</a>
                    </div>
                    <script type="text/javascript" src = "http://feedjit.com/serve/? vv=1515&amp;tft=3&amp;pid=0&amp;bc=FFFFFF;&amp;tc=000000&amp;brd1=012B6B&amp;
                    lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp;srefs=0"> </script>
                    <noscript><a href="http://feedjit.com/">Live Traffic Stats</a>
                    </noscript>
                </div>
            </div>
        </div>
        <div class='col-sm-8 col-md-8'>
            <div class ='panel panel-default'>
                <div class='panel-heading'>
                {% block headmessage %} {% endblock %}
                </div>

    <div class='panel-body'>
        {% block content %} {% endblock %}
        </div>
        <div class='panel-footer'>
            {% include 'footer.html'%}
        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>